/* .btn-primary{
    
    
    background-color: rgb(85, 89, 217);
font: 100 white;
border-radius: 4px;
border: none;
padding: 0 auto;


} */
 /* .nav-title{
list-style: none;
text-decoration: none;
 }
.btn-primary{
    background-color:#4E47FF;
font-size: x-large;
font: white;
font-weight: bold;
padding:18px;
border-radius: 10px;
border: none;



}
.section1{
    font-size:xx-large;
    font-weight: bold;
    color: #4E47FF;
    list-style: none;
}

/images/developer.png

background-position: top left,bottom right;
nav{
    display: flex;
align-items: center;
justify-content: space-between;
} */

.logo-btn{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    
    

    
}
.section{
 background-image: url('../B12A01-landing-launchpad/Assets/Hero-bg.png');
background-repeat:repeat-x;

}
.worqflow{
color: crimson;

}

.template{
    text-align: center;
    padding-bottom: 0px;
    font-size: xx-large;
}
.Stay-Focused{
    text-align: center;
    padding-bottom: 70px;
}
ul li{
    list-style: none;
    
}
ul li a{
text-decoration: none;
}
.btn-primary{
    background-color:#4E47FF;
font-size: x-large;
font: white;
font-weight: bold;
padding:18px;
border-radius: 10px;
border: none;

}

/* main style */
.Launch-Live-Preview{
    text-align:left;
    
}
.page2{
    display: flex;
    justify-content: space-between;
   padding-left: 100px;
   padding-right:70px ;
   padding-top: 30px;
   padding-bottom: 30px;
}
.image{
    border-radius: 15px;

}







