
ul li a{
    color: white;
} 
.logo-btn{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    
    

    
}
.section{
 background-image: url('../B12A01-landing-launchpad/Assets/Hero-bg.png');
background-repeat:repeat-x;

}
.worqflow{
color: crimson;

}

.template{
    text-align: center;
    padding-bottom: 0px;
    font-size: xx-large;
}
.Stay-Focused{
    text-align: center;
    padding-bottom: 70px;
}
ul li{
    list-style: none;
    
}
ul li a{
text-decoration: none;
}

.backup-btn{
    background-color:#4E47FF;
    color: aliceblue;
font-size: x-large;
font-weight: bold;
padding:18px;
border-radius: 10px;
border: none;
}

/* main style */
.Launch-Live-Preview{
    text-align:left;
    margin-left: 0px;
   
    
}
.page2{
    display: flex;
    justify-content: space-between;
   padding-left: 150px;
   padding-right:100px ;
   padding-top: 30px;
   padding-bottom: 30px;
}
.image img{
    border-radius: 25px;

}
.productive-users-title{
    text-align: center;
     background-color: #e9e8f6;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 15px;
    padding:50px 10px;
    font-size: x-large;

}

.productive-users{
    display: flex;
    justify-content:space-around;
    background-color: #e9e8f6;
    
    border-radius: 15px;
    margin-top: 0px;
    
   

}
.numbers{
color: #1b14e6;

}
.number-info{
    color: #8988af;
}

.comment-img{
  border-radius: 50px;
}
.comment-info{
    display: flex;
}
.full-comment-div{
width: 300px;
background-color: #e9e8f6;
border-radius: 10px;
padding: 15px;


}
.circle-img{
    border-radius: 50%;
    height: 20%;
    margin-top: 10px;
}
.full-comment-div-final{
    display: flex;
    justify-content: space-around;
}
.comment-section-title{
    text-align: center;
    font-size: xx-large;
    margin-top: 70px;
    margin-bottom: 40px;
}


/* footer{
    margin-top: 50px;
   
} */

.form-section{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-right: 70px;
}
.input-section-title{
    font-size:45px;
    margin-top: 35%;
    margin-left: 100px;
}

 input[type="text"]{
    
    height: 65px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 100%;
    padding:10px 20px ;
    
    margin-bottom: 30px;
}
.x{
     height: 65px;
    border-radius: 10px;
    background-color:white;
    display: block;
    width: 100%;
    padding:10px 20px ;
    
}
.xtra{
    width: 100%;
}

.focus-pad{
    text-align: center;
    margin-bottom: 20px;
}
.focus-pad-title
{
    /* margin-top: 60px; */
    font-size: 60px;
    margin-bottom: 90px;
    padding-top: 60px;
}
.focus-pad-subtitle{
    font-size: 25px;
}

.big-png{
    border-radius: 25px;
    /* margin-left: 330px;
    margin-right: 320px;
    padding: auto;
    margin-bottom: 80px; */
}
.big-png-div{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    padding: 60px;
}

.focus-pad-full{
    background-color: #e9e8f6;
}


.footer{
    justify-items: center;
    background-color:#e9e8f6;
    height: 420px;
    margin-top: 100px;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
   
    font-size: xx-large;

}
.footer-anchor-tag{
display: flex;
 text-align: justify;
 
 gap: 50px;
}







